:root {
	--primary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	--primary-color: #1a1a1d;
	--secondary-color: #4e4e50;
	--accent-color-1: #6f2232;
	--accent-color-2: #950740;
	--accent-color-3: #c3073f;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	/* border: 1px solid black; */
}

body {
	/* display: flex;
	flex-direction: column; */
	font-family: var(--primary-font);
}

li,
a,
button {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 2%;
	background-color: var(--primary-color);
}

.home-link {
	cursor: pointer;
	font-size: 30px;
}

.home-link:visited {
	color: var(--accent-color-3);
}

.nav-links {
	list-style: none;
	color: #fff;
}

.nav-links li {
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px;
}

.nav-links li a:visited {
	color: var(--accent-color-3);
}

.btn {
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	font-family: var(--primary-font);
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

.btn-primary {
	background-color: var(--accent-color-3);
	color: var(--primary-color);
}

.btn-primary:hover {
	background-color: var(--secondary-color);
	color: #fff;
}

.btn-home {
	color: var(--accent-color-3);
}

.btn-about {
	color: var(--accent-color-3);
}

.btn-projects {
	color: var(--accent-color-3);
}

.nav-links li a {
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: var(--accent-color-2);
}

footer {
}
